.inputContato {
  background-color: var(--bgLabel);
  color: var(--contrast);
  border: none;
  padding: 15px;
  margin-top: 10px;
  border: 1px var(--borderInput) solid;
  border-radius: 10px;
}

.inputContato:focus {
  outline: none;
  border: 1px solid var(--bgBtn);
}

.btn-contato {
  background-color: var(--bgBtn);
  color: var(--texto);
  font-weight: 500;
  margin: 20px 0px;
  border: none;
  padding: 10px 30px;
  border-radius: 10px;
  font-family: "Inter";
  transition: 0.1s ease-in-out;
}

.btn-contato a :hover {
  background-color: #a08bc4;
  color: var(--texto);
}

#contato {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.areaContato {
  width: 60%;
}

#contato * {
  font-family: "Inter";
}

@media (max-width: 987px) {
  .areaContato {
    width: 85%;
  }
}

#contato p,
label {
  color: var(--paragrafo);
}

#contato label,
p,
button,
select {
  font-size: 14px;
}
