/*Tecnologias*/

#tecnologias {
  display: flex;
  flex-direction: column;
}

#tecnologias h2 {
  color: var(--brancoEsp) !important;
  font-family: "montserrat";
  font-size: clamp(1rem, 11vw, 1.5rem);
  font-weight: 300;
}
.textoTech {
  display: flex;
  flex-direction: column;
}
.textoTech p, span, hr {
  font-family: "Inter";
  color: var(--brancoEsp);
  margin: 0;
  padding: 0;
}

.textoTech p {
  font-weight: 600;
}

.textoTech span {
  font-weight: 200;
}

#tecnologias img {
  height: 41px;
}

#tecnologias p, span {
  font-size: 14px;
}

#tecnologias .col-md-4{
    border-bottom: 1px solid var(--linha);
}

#tecnologias p, span{
  font-size: 14px;
}

#tecnologias .col-md-4 {
  border-bottom: 1px solid var(--linha);
}

@media (max-width: 767px) {
  #tecnologias .col-md-4 {
    width: 94%;
    margin: auto;
  }
}