.dark-theme {
  --contrast: #fff;
  --bg: #150f25;
  --bgItemTec: #150f25;
  --texto: #fff;
  --iconHover: #ececec;
  --brancoEsp: #f3f3f3;
  --bgCard: #f3f3f314;
  --paragrafo: #d8d8d8;
  --bgLabel: #221b38;
  --borderInput: #221b38;
  --bgBtn: #b19ad8;
  --bgHome: url(./assets/images/home/2home-background.png);
  --linha: #ffffff3b;
  transition: 0.1s ease-in-out;
}

.light-theme {
  --contrast: #000;
  --bg: #ffffff;
  --texto: #fff;
  --iconHover: #ececec;
  --brancoEsp: #333;
  --bgCard: #ffffff;
  --paragrafo: #6a6a6a;
  --borderInput: #e9e3e4;
  --bgBtn: #b19ad8;
  --sombraCard: 2px 1px 5px #9999994b;
  --sombraTexto: 2px 3px 2px #8e5151;
  --bgHome: url(./assets/images/home/bgLight.png);
  --linha: #0000003b;
  transition: 0.1s ease-in-out;
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--bg) !important;
}

.btn-theme {
  position: fixed;
  bottom: 5px;
  left: 5px;
  background-color: transparent;
  color: var(--brancoEsp);
  border: none;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");